.start-screen-container {
  width: 80%;
  height: 50%;
  background: rgb(235 235 235);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 650px;
  height: 300px;
}

.start-screen-container > * {
  margin-bottom: 20px;
}

.chars-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.chars-container > *:not(:last-child) {
  margin-right: 20px;
}
