.start-screen-container {
  width: 80%;
  height: 50%;
  background: rgb(235 235 235);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.start-screen-container > * {
  margin-bottom: 20px;
}

.chars-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.chars-container > *:not(:last-child) {
  margin-right: 20px;
}
